@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: FontHome;
    src: url(./assets/font-home.woff2) format("woff2");
  }
  @font-face {
    font-family: FontPhotograph;
    src: url(./assets/font-photograph.ttf) format("ttf");
  }
}